.btn {
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  background-color: var(--color-select);
  padding: 30px 20px;
  border: 1px solid var(--color-select);
  transition: 0.3s;

  &__text {
    color: var(--color-light);
    font-weight: 700;
    font-size: 27px;
    line-height: 140%;
    letter-spacing: 0.03em;
    transition: 0.3s;

    margin-right: 6px;
    text-transform: uppercase;
    text-align: left;
  }

  span {
    font-size: 41px;
    display: flex;
    transition: 0.3s;
    color: var(--color-light);
    margin-left: 10px;
  }

  &:hover {
    background-color: var(--color-light);
    .btn__text {
      color: var(--color-select);
    }
    span {
      transform: translateX(-5px) translateY(-5px);
      &::before {
        color: var(--color-select);
      }
    }
  }
}

@media (max-width: 700px) {
  .btn {
    padding: 20px;
    &__text {
      font-size: 20px;
      margin-right: 0;
      padding-right: 20px;
    }
    span {
      font-size: 25px;
    }
  }
}
