.about {
  &__wrapper {
    margin-bottom: 50px;
  }

  &__btn {
    margin-bottom: 100px;
  }

  &__title {
    max-width: 818px;
    margin-bottom: 24px;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  &__desc-info {
    max-width: 580px;
    margin-right: 20px;
  }

  &__desc-info-title {
    margin-bottom: 16px;
  }

  &__desc-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 10px;
    width: 100%;
    max-width: 600px;
  }

  &__desc-img {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
  }

  &__subtitle {
    max-width: 818px;
    margin-bottom: 24px;
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    margin-bottom: 24px;
  }

  &__info {
    max-width: 770px;
  }

  &__imgs {
    padding: 62px 114px;
    border: 1px solid var(--color-select);
    border-radius: 20px;
    margin-bottom: 80px;
  }

  &__img-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__imgs-item {
    display: flex;
    width: 100%;
    max-width: 520px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }

    &.small {
      max-width: 300px;
    }
  }
}

@media (max-width: 1150px) {
  .about {
    &__imgs {
      padding: 62px 40px;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    &__desc {
      flex-direction: column;
    }
    &__desc-info {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__desc-imgs {
      margin: 0 auto;
    }
  }
}

@media (max-width: 950px) {
  .about {
    &__desc {
      margin-bottom: 40px;
    }
    &__imgs {
      padding: 40px 20px;
      margin-bottom: 40px;
    }
    &__img-block {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__btn {
      margin-bottom: 50px;
    }
    &__lists {
      grid-column-gap: 20px;
    }
    &__img-block {
      flex-direction: column;
    }
    &__imgs-item {
      margin-right: 0;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 550px) {
  .about {
    &__desc-imgs {
      grid-template-columns: repeat(1, 1fr);
      max-width: 280px;
    }
    &__lists {
      grid-template-columns: repeat(1, 1fr);
    }
    &__title {
      margin-bottom: 16px;
    }
    &__desc {
      margin-bottom: 20px;
    }
    &__desc-info {
      margin-bottom: 20px;
    }
    &__desc-info-title {
      margin-bottom: 10px;
    }
    &__subtitle {
      margin-bottom: 10px;
    }
    &__lists {
      margin-bottom: 20px;
    }
  }
}
