.header {
  padding: 36px 0 120px;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__content {
    margin-right: 20px;
  }

  &__logo {
    width: 100%;
    max-width: 142px;
    margin-bottom: 18px;
    display: flex;
  }

  &__title {
    margin-bottom: 20px;
    max-width: 687px;
  }

  &__mob {
    display: none;
    margin-bottom: 20px;
  }

  &__list {
    max-width: 515px;
    margin-bottom: 40px;
  }

  &__btn {
    width: 100%;
    max-width: 271px;
    height: 271px;
    border-radius: 50%;
    background-color: var(--color-select);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-select);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgba(#0052b4, 0.8);
    }
  }

  &__btn-text {
    font-size: 22.8211px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 11px;
    max-width: 165px;
  }

  &__btn-img {
    width: 100%;
    max-width: 36px;
  }

  &__imgs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 18px;
    grid-column-gap: 10px;
    width: 100%;
    max-width: 306px;
    margin-top: 28px;
  }

  &__img {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-bottom: 100px;
  }
}

@media (max-width: 850px) {
  .header {
    &__imgs {
      max-width: 250px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 50px;

    &__content {
      margin-right: 0;
      width: 100%;
    }
    &__mob {
      display: block;
      margin: 0 auto 20px;
      max-width: 450px;
    }
    &__imgs {
      margin-top: 0;
      max-width: 100%;
      grid-template-columns: 3fr 1fr;
    }

    &__list {
      margin-bottom: 20px;
    }
    &__btn {
      max-width: 145px;
      height: 145px;
      margin: 0 auto;
    }
    &__btn-text {
      font-size: 14px;
      margin-bottom: 4px;
      max-width: 101px;
    }
    &__btn-img {
      max-width: 19px;
    }
  }
}

@media (max-width: 550px) {
  .header {
    &__logo {
      max-width: 80px;
      margin-bottom: 10px;
    }
    &__mob {
      max-width: 280px;
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__imgs {
      grid-template-columns: repeat(1, 1fr);
    }
    &__img {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}
